<h1>Dashboard</h1>

<ul>
  <% if @restaurants %>
    <table>
      <% if current_user.owner? %>
        <thead>
          <th>Name</th>
          <th>Stars</th>
          <th>Reservations</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.starred_by.count %></td>
              
              
              <% if restaurant.reservations.empty? %>
                <td>&nbsp;</td>
              <% else %>
                  <td>
                    


                      <table>
                        <thead>
                          <th>Name</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Status</th>
                        </thead>
                        <tbody>
                          <% restaurant.reservations.each do |reservation| %>
                            <tr>
                              <td><%= reservation.name %></td>
                              <td><%= reservation.date %></td>
                              <td><%= reservation.time %></td>
                              <% if reservation.status == "Pending" %>
                                <td>
                                  <%= link_to("Approve", { id: reservation.id, controller: "reservations", action: "approve" , remote: true }, { id: reservation.id, class: 'reservation_pending'} ) %>
                                  <%= link_to("Reject", { id: reservation.id, controller: "reservations", action: "reject" , remote: true }, { id: "reject"+reservation.id.to_s, class: 'reservation_pending'} ) %>
                                </td>    
                              <% elsif reservation.status == "Approved" %>
                                <td class="reservation_approved">Approved</td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    




                    
                  </td>
              <% end %>

              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_restaurant_path(restaurant), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  restaurant_path(restaurant),
                                  # remote: true,
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>                  
          <% end %>  
        </tbody>  
      <% else %>
        <thead>
          <th>Name</th>
          <th>Category</th>
        </thead>
        <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= link_to(restaurant.name, restaurant_path(restaurant)) %></td>
            <td><%= restaurant.categories.first.name %></td>
          </tr>
        <% end %>    
      <% end %>   
      </tbody>
    </table>
  <% end %>
</ul>

<% unless @todays_reservations.empty? %>
  <div>
    <h3>Reservations for today</h3>
    <table>
      <thead>
        <th>Name</th>
        <th>Time</th>
        <th>Restaurant</th>
      </thead>
      <tbody>
        <% @todays_reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.name  %></td>
            <td><%= reservation.friendly_time  %></td>
            <td><%= reservation.restaurant.name  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>